@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); /* Import du font Shrikhand */
*,
::before ::after {
  box-sizing: border-box;
}

body { /** Ajout d'une margin car il y a un margin de 8px de base**/
  margin: 0px;
  font-family: "Roboto";
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 { /** Titre ohmyfood **/
  font-family: "Shrikhand", serif;
  text-align: center;
  padding: 0.3rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #EAEAEA;
  text-align: center;
  font-size: 80%;
  font-weight: 500;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .city {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0);
  }
}

.reserver { /* Partie reserver */
  text-align: center;
  background-color: #F6F6F6;
}
.reserver h2 {
  font-size: 40px;
  margin: 0;
  padding: 20px;
}
.reserver p {
  font-size: 18px;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .reserver p {
    margin-bottom: 6%;
  }
}
.reserver button { /* Configuration du bouton */
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  margin-bottom: 2%;
  transition-duration: 0.5s;
  cursor: pointer;
  margin-bottom: 50px;
}
.reserver button:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 12px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  padding: 0 17rem;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .fonctionnement {
    padding: 0 1rem;
  }
}
.fonctionnement ol {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .fonctionnement ol {
    flex-direction: column;
    padding: 0 3rem;
    gap: 25px;
  }
}
.fonctionnement li {
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  flex-grow: 1; /* Permet de prendre autant d'espace que possible dans le conteneur flex */
  border-radius: 1rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  list-style-type: none;
  margin-bottom: 18px;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .fonctionnement li {
    margin-bottom: -60px;
  }
}
.fonctionnement i {
  margin-right: 1rem;
}
.fonctionnement h2 {
  padding: 30px;
  margin-left: 38px;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .fonctionnement h2 {
    margin-bottom: -82px;
    margin-left: -25px;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -19px;
  bottom: -20px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
  left: 28px;
}
@media (max-width: 932px) {
  .number {
    left: -11px;
    bottom: -70px;
  }
}

.menus {
  padding: 0 17rem;
  background-color: #F6F6F6;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .menus {
    margin-top: 120px;
  }
}
.menus h2 {
  padding: 30px;
  margin-bottom: 0rem;
  margin-left: 2rem;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .menus h2 {
    margin-left: -17rem;
  }
}

.menus__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .menus__cards {
    flex-direction: column;
    margin-left: -15rem;
  }
}
.menus__cards .new {
  position: relative;
}
.menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 5rem;
  right: 10px;
  margin-top: 20px;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  display: grid;
  place-items: center;
  border-radius: 2px;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .menus__cards .new::before {
    right: 1rem;
  }
}

.card__image {
  height: 172px;
  width: 498.65px;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .card__image {
    width: 384px;
  }
}
.card__image-1 {
  background-image: url(../../img/restau/menu1.jpg);
}
.card__image-2 {
  background-image: url(../../img/restau/menu2.jpg);
}
.card__image-3 {
  background-image: url(../../img/restau/menu3.jpg);
}
.card__image-4 {
  background-image: url(../../img/restau/menu4.jpg);
}
.card h3 {
  padding: 3px 1rem;
}
.card p {
  padding: 0 1rem;
}
.card__description {
  position: relative;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  margin-top: -9px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  width: 499px;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  .card__description {
    width: 386px;
  }
  .card__description h3 {
    margin: 0.5rem;
  }
}
.card__description p {
  margin: 0.5rem;
  padding: 10px;
}
.card__description i {
  position: absolute;
  right: 1rem;
  margin-top: -4rem;
  width: 28px;
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  -webkit-text-stroke: 1px white;
  background-color: transparent;
  cursor: pointer;
}
.card__description .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.card__description .fas:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 932px) and (min-width: 430px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
  text-align: right;
}
footer p {
  padding: 0.2rem;
}

img {
  max-width: 100%;
}

main h4 {
  font-family: "Shrikhand", serif;
}

/*# sourceMappingURL=style.css.map */
