.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #EAEAEA;
    text-align: center;
    font-size: 80%;
    font-weight: 500;
    @media screen and (max-width: 932px) and (min-width: 430px) {
        box-shadow: 0 0 .5rem rgba(0,0,0,1.25);
     }
}