@use "./../utils/colors.scss";

footer {
    background-color: colors.$darkgrey;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 932px) and (min-width: 430px) {
      display: flex;
      flex-direction: column;
      gap: 0px;
      justify-content: space-evenly;
      align-items: baseline;
  }
    h2 {
      font-family: "Shrikhand", "sans-serif";
      font-weight: 500;
      padding: 1rem 0;
      text-align: right;
    }
    p {
      padding: 0.2rem;
    }
  }