.menus {
    background-color: #F6F6F6;
    @media screen and (max-width: 932px) and (min-width: 430px) {
    margin-top: 120px;
    }
& h2 {
    padding: 30px;
margin-left: 310px;
margin-bottom: 2rem;
@media screen and (max-width: 932px) and (min-width: 430px) {
    margin-left: -10px;
}
}
}
.menus__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 335px;

    & .new {
        border: 1px solid grey;
    }
}

.card {
    width: calc(50% - 1rem);
    &__image {
        height: 231px;
        width: 498.65px;
        border: 1px solid black;
        border-radius: 1rem 1rem 0 0;
    }
    @for $i from 1 through 4 {
        &   __image-#{$i} {
            background-image: url(../../img/restau/menu#{$i}.jpg);
        }
    }
}